{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}


  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
      </div>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>

  {% if product.title == "Starter Pack"  %}
    <p class="short_info">Get a taste of what Nectar is all about with an 18 Stick starter pack</p>
  {% elsif  product.title == "Essential Daily Hydration"  %}
    <p class="short_info">Rapid hydration made with only the essentials (30 Sticks)</p>
  {%- else -%}
    <p class="short_info">Rapid hydration with a boost of Organic Caffeine and Vitamin B12 (30 Sticks)</p>
  {% endif %}

  {% comment %} {% include 'product-price-listing', product: product, show_vendor: show_vendor %} {% endcomment %}

  {% capture productid %}add-to-cart-{{ product.handle }}-{{ collection.handle }}-{{ section.id }}{% endcapture %}
  {% form 'product', product, data-productid: product.id, id: productid, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
    
    <input type="hidden" id="product-variant-id-holder" name="id" data-productid="{{ product.id }}" value="{{ product.variants[0].id }}">

  {%- if product.id == 4820072366139 -%}
    <div class="product_options">
    <div class="flavor-bar product-variant-select-a" style="display: none !important;">
      <label>Flavor:</label>
      <div class="product-variant-select-ul product-single_option-selector">
        <ul>
          {% for variant in product.variants %}
          <li id="{{ variant.id }}" data-value="{{variant.option1}}-{{variant.option2}}" data-image="{{ variant.image | img_url: 'master' }}" data-img-slide="{{ variant.image.alt | remove: ' hidden-product-page' }}" class="{{ variant.title | handleize }} {% if forloop.index == 1 %} active {% endif %}">
            <span id="{{ variant.title | handleize }}" class="circle-color-swatches"></span>
            {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="product-variant-select-drop-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
          <g id="Group_30" data-name="Group 30" transform="translate(-1644 -769)">
            <path id="Polygon_1" data-name="Polygon 1" d="M8.856.542a1,1,0,0,1,1.288,0L16.9,6.235A1,1,0,0,1,16.26,8H2.74A1,1,0,0,1,2.1,6.235Z" transform="translate(1675 796) rotate(180)"></path>
          </g>
        </svg>
      </div>
    </div>
    {% for product_option in product.options_with_values %}
        {% if product_option.name != "Flavor" %}
          <div class="product_swatches_row product-{{product_option.name}}_selectors">
            {% for value in product_option.values %}
            <label data-value="{{value}}" class="option-selector{% if forloop.index == 1 %} active{% endif %}">{{value}}</label>
            {% endfor %}
          </div>
        {% else %}
          <div class="product-flavor_dropdown">
            <label>{{product_option.name}}:</label>
            <div class="product-variant-select-ul_flavor">
              <ul>
                {% for value in product_option.values %}
                <li data-option="{{value}}" class="{% if forloop.index == 1 %} active {% endif %}">
                  <span id="{{ value | handleize }}" class="circle-color-swatches"></span>
                  {{value}}
                </li>
                {% endfor %}
              </ul>
            </div>

            <div class="product-variant-select-drop-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                <g id="Group_30" data-name="Group 30" transform="translate(-1644 -769)">
                  <path id="Polygon_1" data-name="Polygon 1" d="M8.856.542a1,1,0,0,1,1.288,0L16.9,6.235A1,1,0,0,1,16.26,8H2.74A1,1,0,0,1,2.1,6.235Z" transform="translate(1675 796) rotate(180)"></path>
                </g>
              </svg>
            </div>
          </div>
        {% endif %}
    {% endfor %}
  </div>
  {% render 'skio-plan-picker', start_onetime: false, onetime_first: false, product: product, form_id: productid, hidden: true %}
  {%- else -%}
    <div class="product-variant-select-a">
      <label>Flavor:</label>
      <div class="product-variant-select-ul">
      <ul>
      {% for variant in product.variants %}
        <li id="{{ variant.id }}" data-img-slide="{{ variant.image.alt | remove: ' hidden-product-page' }}" class="{{ variant.title | handleize }} {% if forloop.index == 1 %} active {% endif %}">
          <span id="{{ variant.title | handleize }}" class="circle-color-swatches"></span>
          {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
        </li>
      {% endfor %}
      </ul>
      </div>
      <div class="product-variant-select-drop-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
          <g id="Group_30" data-name="Group 30" transform="translate(-1644 -769)">
            <path id="Polygon_1" data-name="Polygon 1" d="M8.856.542a1,1,0,0,1,1.288,0L16.9,6.235A1,1,0,0,1,16.26,8H2.74A1,1,0,0,1,2.1,6.235Z" transform="translate(1675 796) rotate(180)"></path>
          </g>
        </svg>
      </div>
    </div>

      {% render 'skio-plan-picker', start_onetime: false, onetime_first: false, product: product, form_id: productid %}
  {%- endif -%}


  


    <div class="product-form__controls-group product-form__controls-group--submit">
      <div class="product-form__item product-form__item--submit
        {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
        {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
      >

        <button type="button" name="add"
          aria-label="{{ 'products.product.add_to_cart' | t }}"
          class="btn js-go-cart-add-to-cart product-form__cart-submit">
          <span class="button_text" data-add-to-cart-text>
            {{ 'products.product.add_to_cart' | t }}
          </span>
          <span class="hide" data-loader>
            {% render 'icon-spinner' %}
          </span>
        </button>

 

      </div>
 
      {%- if product.id == 4820072366139 -%}
        <a class="subscribe-and-save-collection btn " data-product-id="{{ product.id }}">{{ product.price | money_without_trailing_zeros }} - Try Now</a>
      {%- else -%}
      
        <a data-add-to-cart-subscribe class="subscribe-and-save-collection btn " data-product-id="{{ product.id }}">
          <span skio-external-price>{{ newPrice | money }}</span> Per Month | Start Now
        </a>
        <a data-add-to-cart-one-time class="btn custom_btn hidden">{{ product.price | money }} - One Time Purchase</a>
      {%- endif -%}
    </div>

  {% endform %}

</div>