<div class="section-container {% if section.settings.hero_size == 'hero_small' %}hero-small{% endif %} {% if section.settings.hero_size == 'hero_large' %}hero-large{% endif %}">
  <div class="page-width">
    <div class="section-content">
      {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.description != blank %}
      <h4>
        <a href="" class="typewrite" data-period="2000" data-type='[ {{ section.settings.description }} ]'>
          <span class="wrap"></span>
        </a>
      </h4>
      
      {% endif %}
      <div class="button-group">
        {% if section.settings.button_label_1 != blank or section.settings.button_url_1 %}
        <a class="btn-orange-hero btn" href="{{ section.settings.button_url_1 }}">{{ section.settings.button_label_1 }}</a>
        {% endif %}
        {% if section.settings.button_label_2 != blank or section.settings.button_url_2 %}
        <a class="btn btn--secondary" href="{{ section.settings.button_url_2 }}">{{ section.settings.button_label_2 }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if section.settings.color_background != blank %}
<style>
  .mirgo-banner-color {
    background-color: {{ section.settings.color_background }};
  }
  {% if section.settings.image_background != blank %}
  .mirgo-banner-color {
    background-image: url({{ section.settings.image_background | img_url: '2000x' }});
    background-size: cover;
    background-repeat: no-repeat;
  }
  {% endif %}
  .mirgo-banner-color h1,
  .mirgo-banner-color h2,
  .mirgo-banner-color h3,
  .mirgo-banner-color h4,
  .mirgo-banner-color h5,
  .mirgo-banner-color p {
  	color: {{ section.settings.font_color }};
  }
  
  @media(max-width: 767px) {
      {% if section.settings.image_background != blank %}
  .mirgo-banner-color {
    background-image: url({{ section.settings.image_background_mob | img_url: 'master' }});
    background-size: cover;
    background-repeat: no-repeat;
  }
  {% endif %}
  }
  }
</style>
<script>


    var TxtType = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 200 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }

      setTimeout(function() {
        that.tick();
      }, delta);
    };
  
    //setTimeout(function(){
      window.addEventListener("load", function(){
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
          var toRotate = elements[i].getAttribute('data-type');
          var period = elements[i].getAttribute('data-period');
          if (toRotate) {
            new TxtType(elements[i], JSON.parse(toRotate), period);
          }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
      });
    //}, 1000);
  
</script>
{% endif %}
{% schema %}
  {
    "name": "Home Hero",
	"class": "mirgo-banner-color box-layout",
    "settings": [
		{
			"type":		"header",
			"content":	"Content"
		},
{
   "type": "select",
   "id": "hero_size",
   "options": [
      { "value": "hero_small", "label": "Smaller"},
      { "value": "hero_large", "label": "Larger"}
   ],
   "label": "Hero Size (Height)"
},
		{
			"type":		"richtext",
			"id":		"title",
			"label":	"Title"
		},
		{
			"type":		"text",
			"id":		"description",
			"label":	"Description"
		},
		{
			"type":		"header",
			"content":	"Button Main"
		},
		{
			"type":		"text",
			"id":		"button_label_1",
			"label":	"Button Label"
		},
		{
			"type":		"url",
			"id":		"button_url_1",
			"label":	"Button Link"
		},
		{
			"type":		"header",
			"content":	"Button Secondary"
		},
		{
			"type":		"text",
			"id":		"button_label_2",
			"label":	"Button Label"
		},
		{
			"type":		"url",
			"id":		"button_url_2",
			"label":	"Button Link"
		},
		{
			"type":		"header",
			"content":	"Background"
		},
		{
            "type": 	"image_picker",
            "id": 		"image_background",
            "label": 	"Background Image"
        },
		{
            "type": 	"image_picker",
            "id": 		"image_background_mob",
            "label": 	"Background Image (Mobile)"
        },
		{
            "type": 	"color",
            "id": 		"color_background",
            "label": 	"Background Color",
            "default": 	"#edf4fe"
        },
		{
			"type":		"header",
			"content":	"Font Color"
		},
		{
            "type": 	"color",
            "id": 		"font_color",
            "label": 	"Font Color",
            "default": 	"#fff"
        }
	],
	"presets":	[
		{
			"name":		"Home Hero",
			"category":	"Custom Sections"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
