<div class="section-container">
  <div class="page-width login-box">
    <div class="section-content">
     <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">

        <h1 id="LoginHeading" class="text-center">{{ 'customer.login.title' | t }}</h1>

        {% form 'customer_login', novalidate: 'novalidate' %}

          {%- if form.errors -%}
            <div class="form-message form-message--error">
              <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="CustomerEmail"></label>
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            placeholder="Email"     
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {%- if form.errors contains 'form' -%}
              class="input--error"
              aria-invalid="true"
            {%- endif -%}
            >

          {% if form.password_needed %}
            <label for="CustomerPassword"></label>
            <input
              type="password"
              placeholder="Password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              {%- if form.errors contains 'form' -%}
                class="input--error"
                aria-invalid="true"
              {%- endif -%}
            >
          {% endif %}

          <div class="text-center">
            {% if form.password_needed %}
              <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %}

            <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">

            <p>
              Not yet part of the Hydration Gang? Check out <a class="hydration-link" href="/products/essential-daily-hydration">Essential Daily Hydration</a>
            </p>
            <p><a href="/a/account/login">Manage your subscription</a></p>
          </div>

        <style>#rc_login {display: none !important;}</style>

        {% endform %}
      </div>

      <div id="RecoverPasswordForm" class="hide">

        <div class="text-center">
          <h2 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div class="form-vertical">
          {% form 'recover_customer_password' %}

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}

            <label for="RecoverEmail"></label>
            <input
              type="email"
              placeholder="Email"     
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full{% if form.errors %} input--error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
              {%- endif -%}
              >
            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
            {%- endif -%}

            <div class="text-center">
              <p>
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </p>

              <a href="#LoginHeading" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>

      </div>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
        <div class="text-center">
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
      {% endif %}
    </div>
     
    </div>
  </div>
</div>
{% if section.settings.color_background != blank %}
<style>
  .mirgo-banner-color {
    background-color: {{ section.settings.color_background }};
  }
  {% if section.settings.image_background != blank %}
  .mirgo-banner-color {
    background-image: url({{ section.settings.image_background | img_url: '2000x' }});
    background-size: cover;
    background-repeat: no-repeat;
  }
  {% endif %}
  .mirgo-banner-color h1,
  .mirgo-banner-color h2,
  .mirgo-banner-color h3,
  .mirgo-banner-color h4,
  .mirgo-banner-color h5,
  .mirgo-banner-color p {
  	color: {{ section.settings.font_color }};
  }
</style>

{% endif %}
{% schema %}
  {
    "name": "Login Hero",
	"class": "mirgo-banner-color box-layout",
    "settings": [
		{
			"type":		"header",
			"content":	"Background"
		},
		{
            "type": 	"color",
            "id": 		"color_background",
            "label": 	"Background Color",
            "default": 	"#edf4fe"
        },
		{
            "type": 	"image_picker",
            "id": 		"image_background",
            "label": 	"Background Image"
        },
		{
			"type":		"header",
			"content":	"Font Color"
		},
		{
            "type": 	"color",
            "id": 		"font_color",
            "label": 	"Font Color",
            "default": 	"#fff"
        }
	],
	"presets":	[
		{
			"name":		"Login Hero",
			"category":	"Custom Sections"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
