{{ 'buy-box.css' | asset_url | stylesheet_tag }}
{{ 'bundle-selector.css' | asset_url | stylesheet_tag }}
<script src="{{ 'bundle-selector.js' |  asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="page-width">

    <div class="bundle-selector__page-wrapper">
      <div class="bundle-selector__info-wrapper">
        <div class="bundle-selector__img-wrapper">
          {{ section.settings.image | image_url: width: section.settings.image.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: "banner__img" }}
        </div>
        <div class="product-review__wrapper">
          <div class="swiper mySwiper mySwiper-{{ section.id }}">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'review_card' %}
                    <div class="product-review__info-wrapper">
                      <div class="review-header">
                        <div class="review-name__wrapper">
                          <h6 class="user_name">{{ block.settings.name }}</h6>
                          <div class="verified-badge">
                            <span class="icon-tick">{%  render 'icon-tick' %} </span>
                            <span> Verified Customer</span>
                          </div>
                        </div>
                        <div class="review-star__wrapper">
                          {%  render 'icon-star' %}
                          {%  render 'icon-star' %}
                          {%  render 'icon-star' %}
                          {%  render 'icon-star' %}
                          {%  render 'icon-star' %}
                        </div>
                      </div>
                      <p class="review-description">
                        {{ block.settings.description }}
                      </p>
                    </div>
                {% endcase %}
              {% endfor %}
            </div>
            <div class="swiper-pagination swiper-pagination-{{ section.id }}"></div>
          </div>
        </div>
      </div>
      <form class="bundle-selector__wrapper">
        <div class="product-bundle__wrapper">
          <div class="product-selector__card">
            <div class="product-img__wrapper">
              <img src="{{ 'lime.png' |  asset_url }}" class="product-img">
            </div>
            <div class="product-card__info">
              <h1 class="product-title">Strawberry Lemonade</h1>
              <button class="product-add__btn">Add+</button>
            </div>
          </div>
        </div>
        <div class="bundle-selector__footer">
          <p class="saving-text">You're Saving
            <span class="money-saved"></span>
          </p>
          <button class="bundle-atc__btn" type="submit">Select 4 More Packs
            <span>{% render 'icon-arrow-right-2' %}</span>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Bundle 2",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Page Banner"
      },
      {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }

    ],
    "blocks": [
      {
        "type": "review_card",
        "name": "Review Card",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Name"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Bundle 2"
      }
    ]
  }
{% endschema %}